<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login User</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Importing files -->
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='Images/LoginPage/Images/Icons/favicon.ico') }}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='LoginPageVendor/Vendor/Bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Fonts/Font-awesome-4.7.0/css/font-awesome.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='LoginPageVendor/Vendor/Animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='LoginPageVendor/Vendor/Css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='LoginPageVendor/Vendor/Animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='LoginPageVendor/Vendor/Select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='LoginPageVendor/Vendor/Daterangepicker/daterangepicker.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/LoginPage/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/LoginPage/main.css') }}">
    <!-- Importing Global JS File -->
    <script src="{{ url_for('static',filename = 'JS/GlobalJS/Global.js') }}"></script>

    <!--===============================================================================================-->
</head>

<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" style="background-color: hsl(0, 15%, 90%,0.2);">
                    <span class="login100-form-title p-b-43">
						{{headerTitle}}
					</span>


                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input id=TextBoxUserName class="input100" type="text" name="email">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input id=TextBoxPassword class="input100" type="password" name="pass">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                            <input id=CheckBoxRememberMe class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
								Forgot Password?
							</a>
                        </div>
                    </div>


                    <div id=LoginButton class="container-login100-form-btn">
                        <button class="login100-form-btn">
							Login
						</button>
                    </div>

                    <div class="text-center p-t-46 p-b-20">
                        <span class="txt2">
							or sign up using
						</span>
                    </div>

                    <div id=FbSignUpButton class="login100-form-social flex-c-m">
                        <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                        </a>

                        <a id=InstaSignUpButton href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
                
                <div class="login100-more" style="background-image: url('{{url_for('static',filename='Images/LoginPage/Images/Bakery2.jpg')}}');">
                </div>
            </div>
        </div>
    </div>





    <!--===============================================================================================-->
    <script src="{{ url_for('static',filename='LoginPageVendor/Vendor/JQuery/jquery-3.2.1.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ url_for('static',filename='LoginPageVendor/Vendor/Animsition/js/animsition.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ url_for('static',filename='LoginPageVendor/Vendor/Bootstrap/js/popper.js') }}"></script>
    <script src="{{ url_for('static',filename='LoginPageVendor/Vendor/Bootstrap/js/bootstrap.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ url_for('static',filename='LoginPageVendor/Vendor/Select2/select2.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ url_for('static',filename='LoginPageVendor/Vendor/Daterangepicker/moment.min.js') }}"></script>
    <script src="{{ url_for('static',filename='LoginPageVendor/Vendor/Daterangepicker/daterangepicker.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ url_for('static',filename='LoginPageVendor/Vendor/Countdowntime/countdowntime.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ url_for('static',filename='JS/LoginPage/main.js') }}"></script>

    <script>
        $('#LoginButton').click(function() {
            LoginUser();
        });

        function LoginUser() {
            $UserName = $('#TextBoxUserName').val();
            $Password = $('#TextBoxPassword').val();

            if ($UserName == "" || $Password == "") {
                showMessage("Invalid Username or Password", "A valid Username and Password is nessasary to create an account. Please insert a valid Username and Password")
                return;
            }

            $data = {
                UserName: $UserName,
                Password: $Password,
            }

            $.ajax({
                url: '/login',
                type: 'post',
                data: $data,
                dataType: 'json',
                success: function(Result) {
                    console.log(Result);
                    return;
                    if (Result.Type === 'Success') {
                        $('input[type="text"]').val('');
                        $('input[type="password"]').val('');
                        confirmMessageWindowOpen('Success', Result.Message, Result.NextURL);

                    } else if (Result.Type === 'Warning') {
                        showMessage('Error!', Result.Message);
                    } else {
                        showMessage('Error!', Result.Message);
                    }

                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.status, errorThrown);
                }

            });
        }
    </script>
</body>

</html>