<!-- Including Header FIle -->
{% extends '/MainOutline/MainOutline.html' %}

<!-- Writing To Body Div -->
{% block content %}
<!-- CSS For Form Section -->
<link rel="stylesheet" href="{{ url_for('static',filename='CSS/RegisterForm/Form.css') }}">

<!-- Font CSS Link -->
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<div class="container mb-5">
    <form id="AddBusinessDetailsForm" method="post" enctype="multipart/form-data">
        <div class="col-lg-12">
            <div class="Form-title">
                <h4>Business Registstration</h4>
            </div>
            <!-- First Row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" name="TextBoxBusinessName" id="TextBoxBusinessName" class="form-control form-control-lg mt-2 inputName"
                            placeholder="Business Name">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" id="TextBoxBusinessContactNumber" name="TextBoxBusinessContactNumber" class="form-control form-control-lg mt-2 inputName" placeholder="Business Contact Number">
                    </div>
                </div>
            </div>
            <!-- First Row End -->
            <!-- Second Row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" id="TextBoxBusinessEmail" name="TextBoxBusinessEmail" class="form-control form-control-lg mt-2 inputUserName" placeholder="Business Email">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" id="TextBoxBusinessAddress" name="TextBoxBusinessAddress" class="form-control form-control-lg mt-2 inputEmail" placeholder="Business Address">
                    </div>
                </div>
            </div>
            <!-- Second Row End -->
            <!-- Third Row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <span class="card text-center form-label font-weight-bold">Business Image</span>
                        <input type="file" id="FileFieldBusinessImage"  name="FileFieldBusinessImage" class="form-control form-control-lg mt-2 inputPassword">
                    </div>
                </div>
            </div>
            <!-- Third Row End -->
            <!-- Fourth Row -->
            <div class="row">
                <div class="col-lg-6">
                    <span class="card text-center font-weight-bold">Share Something About Your Business</span>
                    <div class="form-group">
                        <textarea class="form-control rounded-0" id="TextBoxDescription" name="TextBoxDescription" rows="10"></textarea>
                    </div>
                </div>
            </div>
            </div>
            <!-- Fourth Row End -->

            <!-- Fifth Row -->
            <div class="row" hidden="">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" id="TextBoxUserID"  name="TextBoxUserID" value="{{User.id}}">
                    </div>
                </div>
            </div>
            <!-- Fifth Row End -->

            <!-- Buttons -->
            <div class="row mt-4">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="submit" id="btn_RegisterBusiness" class="btn btn-success rounded ml-3" value="Register Business">
                    </div>
                </div>
            </div>
            <!-- Button Ends -->
            </div>
    </form>
</div>

<script>
    // Sending The Whole Form Together Because Of File Uploading
    $("#AddBusinessDetailsForm").submit(function(e) {
    e.preventDefault();    
    var formData = new FormData(this);

    $.ajax({
        url: '/addBusinessDetails',
        type: 'POST',
        data: formData,
        dataType:'json',
        success: function (data) {
            $("form").trigger("reset");
            if (data.Type == 'Success')
            {
                confirmMessageWindowOpen('Success','Your Business Is Successfully Registered! Wish You All The Very Best!',data.NextURL);
            }
            else
            {
                showMessage('Error',data.Message);
            }
        },
        cache: false,
        contentType: false,
        processData: false
    });
});

</script>


{% endblock %}
<!-- End Writing Body Div -->