html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.head
{
    background-image: linear-gradient(to right,#5b14df , #df350b);
    height: auto;
    width: 100vh;
}

.MainMenuSection
{
    background-color: #cacaca;
}

@media(min-width:200px) and (max-width:1490px)
{
    .head
    {
        background-image: linear-gradient(to right,#5b14df , #df350b);
        height: auto;
        width: 100vh;
    }
    .dropdown-item
    {
        opacity: 1.0;
        filter: alpha(opacity=100);
    }

    a 
    {
        color: white;
    }
    .title
    {
        text-align: center;
        margin-top: 2%;
        
    }
}

a 
{
    color: white;
}

.user
{
    color: white;
}

.btnColorLogin
{
    background-color: #b1b400;
    color: white;
    width: 150px;
}

.btnColorLogout
{
    background-color: #da0521;
    color: white;
    width: 150px;
}

img.Login
{
    width:35px;
    height: 33px;;
}

.btnColorEnglish
{
    background-color: #f3f2f2;
    height: 30px;
    display: inline-flex;
    align-items: center;
}
.btnColorEnglish:hover
{
    background-color: #e4e4e4;
}

.menuItems
{
    height: 85px;
    width: 85px;
}

.vl 
{
    border-left: 2px solid rgb(185, 185, 185);
    height: 105px;
}

.search
{
    width: 180px;
    height: 80px;
}

a.NavbarLink:hover
{
    color: #beccc6;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
}

.NavbarLink
{
    color: #f3f2f2;
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
}