<!-- Including Header FIle -->
{% extends '/MainOutline/MainOutline.html' %}

<!-- Writing To Body Div -->
{% block content %}
<!-- Page CSS File Import -->
<link rel="stylesheet" href="{{ url_for('static',filename='CSS/IndexPage/Index.css') }}">
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-lg-6 halfCircle">
            </div>

            <div class="'col-lg-6'">

            </div>
        </div>
    </div>
{% endblock %}
<!-- Ending Writing To Body Div -->